{
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "eol-last": 0,
    "no-use-before-define": 0,
    "new-cap": [0, {"capIsNew": false}],
    "no-unused-vars": [2, {"args": "none"}],
    "no-alert": 0,
    "no-shadow": 0,
    "object-shorthand": 0,
    "no-underscore-dangle": 0,
    "curly": 0,
    "no-empty": 0,
    "no-unused-expressions": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true
  }
}